<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_menu">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
              <!-- left side div -->
              <div class="col-md-12 col-12 main_header_left align-items-center">
                <figure class="errimg">
                    <img src="images/404.jpg" alt="image" class="img-fluid" title="portfolio image">
                </figure>
              
                <p>Welcome to the weather App.</p>
                <h1>{{errorMsg}}</h1>
                <a href="/"><button>Go Back</button></a>
              </div>

              <!-- right side div -->
              
            </div>
          </div>
      </div>
    </div>
    
    <!-- footer code -->
    {{>footer}}
</body>
</html>